<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +977-9865741230</a></li>
              <li><a href="mailto:info@sassyelectronics.com"><i class="fa fa-envelope"></i>
                  info@sassyelectronics.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->

  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse" id="navbarCollapse">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#"
                  [routerLink]="['']">Home</a></li>
              <li class="dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                  style="cursor: pointer;">Category<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <app-category></app-category>
                </ul>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#"
                  [routerLink]="['/contact']">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="shop-menu pull-right">
            <ul>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="#" [routerLink]="['/cart']"><i class="fa fa-shopping-cart"></i> Cart</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->
