<footer id="footer"><!--Footer-->      
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p style="text-align: center;">Copyright © 2021 Sassy Electronics Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
    
</footer><!--/Footer-->
