<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="left-sidebar">
          <div class="brands_products">
            <!--brands_products-->
            <h2>Category</h2>
            <div class="list-group">
              <app-category></app-category>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 padding-right">
        <div class="spinner-wrapper" *ngIf="loader">
          <div class="spinner-border">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="product-details" *ngIf="!loader">
          <div class="row">
            <!--product-details-->
            <div class="col-sm-5">
              <div class="view-product">
                <img src="{{ product.image }}" alt="" />
              </div>
              <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item" [ngClass]="i == 0 ? 'active' : ''"
                    *ngFor="let image of product.images; let i = index">
                    <a href="javascript:;" *ngIf="product.images.length != 0" (click)="showImage(image.full_image)"><img
                        src="{{ image.thumbnail_image }}" alt=""></a>
                  </div>

                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev"
                  *ngIf="product.images.length != 0">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next"
                  *ngIf="product.images.length != 0">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>

            </div>
            <div class="col-sm-7">
              <div class="product-information">
                <!--/product-information-->
                <img src="assets/images/home/new.png" class="new" alt="" *ngIf="product.tag == 'new'" />
                <img src="assets/images/home/sale.png" class="new" alt="" *ngIf="product.tag == 'sale'" />
                <h3>{{ product.name }}</h3>
                <p><b>SKU:</b> &nbsp; {{ product.sku }}</p>
                <p><b>Type:</b> &nbsp; <em *ngIf="product.type == null">-</em>{{ product.type }}</p>
                <p><b>Model name:</b> &nbsp; <em *ngIf="product.model_name == null">-</em>{{ product.model_name }}</p>
                <p><b>Series:</b> &nbsp; <em *ngIf="product.series == null">-</em>{{ product.series }}</p>
                <p><b>Brand:</b> &nbsp; <em *ngIf="product.brand == null">-</em>{{ product.brand }}</p>
                <p style="text-transform: capitalize;"><b>Stock:</b> &nbsp;<em *ngIf="product.stock == null">-</em>
                  <b class="text-success">{{ product.stock }}</b></p>
                <span>
                  <label>Quantity:</label>
                  <input type="number" min="1" max="5" id="qty" value="1" />
                </span>
                <p>
                  <button type="button" class="btn btn-primary cart" *ngIf="product.discount_price != null"
                    (click)="addToCart(product.discount_price)">
                    <i class="fa fa-shopping-cart"></i>
                    Add to cart
                  </button>
                  <button type="button" class="btn btn-primary cart" *ngIf="product.discount_price == null"
                    (click)="addToCart(product.price)">
                    <i class="fa fa-shopping-cart"></i>
                    Add to cart
                  </button>
                </p>
                <hr>
                <p>{{ product.description | slice:0:300 }}...<a href="javascript:;" (click)="scrollToDescription()">
                    read
                    more</a></p>
                <span>
                  <span>

                    <h2 *ngIf="product.discount_price != null">NPR. {{ product.discount_price }}</h2>
                    <h2 *ngIf="product.discount_price == null">NPR. {{ product.price }}</h2>
                  </span>
                  <h4 class="text-muted" *ngIf="product.discount_price != null">NPR. <s> {{ product.price }}</s></h4>

                </span>

              </div>
              <!--/product-information-->
            </div>

          </div>
          <div class="row" id="description">
            <div class="col-md-12 mt-4">
              <h2 class="mb-2">Description</h2>
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
        <!--/product-details-->
      </div>
    </div>
    <div class="row">
      <div class="recommended_items">
        <!--recommended_items-->

        <h2 class="title text-center">recommended items</h2>

        <div class="spinner-wrapper" *ngIf="loader">
          <div class="spinner-border">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="rpw feature-product" *ngIf="!loader">
          <div class="col-sm-3" *ngFor="let product of products">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="{{ product.image }}" alt="" />
                  <h4 class="text-muted" *ngIf="product.discount_price != null">NPR. <s> {{ product.price }}</s></h4>
                  <h2 *ngIf="product.discount_price != null">NPR. {{ product.discount_price }}</h2>
                  <h2 *ngIf="product.discount_price == null">NPR. {{ product.price }}</h2>
                  <p>{{ product.name }}</p>
                  <a href="#" [routerLink]="['/product/detail',product.product_id]" class="btn btn-primary mb-2">View
                    Product</a>
                </div>
                <img src="assets/images/home/new.png" class="new" alt="" *ngIf="product.tag == 'new'" />
                <img src="assets/images/home/sale.png" class="new" alt="" *ngIf="product.tag == 'sale'" />P
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/recommended_items-->
    </div>
  </div>
</section>
